.item {
    display: flex;
    width: 100%;
    gap: 10px;
}

.title {
    font-size: 25px;
}

.extra {
    font-size: 20px;
    color: rgb(232, 150, 50);
    font-family: 'Courier New', Courier, monospace;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapper {
    width: 64px;
    height: 64px;
    background-color: rgb(105, 242, 242);
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}